.wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.title {
    display: flex;
    gap: 1rem;
    align-items: baseline;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    padding: 0;
}

.align_row {
    display: flex;
    gap: 1ch;
    /* justify-content: space-around; */
    align-items: baseline;
}

.subtract_button {
    background-color: rgba(0, 255, 187, 0.823);
}

.add_button {
    background-color: rgba(251, 53, 53, 0.823);
}

.label {
    font-size: 0.6rem;
    font-weight: bold;
    min-width: max-content;
    color: black;
}

.modifierWrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    /* background-color: rgba(236, 190, 252, 0.863); */
}

.modifierWrapper p {
    min-width: 4rem;
    font-weight: bold;
}

.modifier {
    font-size: 0.7rem;
    padding: 0.2rem 0.5rem;
    background-color: rgba(49, 43, 105, 0.796);
    color: ghostwhite;
}

.concentrationWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    background-color: rgb(255, 210, 210);
    box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.6);
    /* margin: 1rem 0; */
    padding: 0.5rem;
    /* border: 1px solid red; */
    border-radius: 3px;
}

.concentrationHeader {
    display: flex;
    gap: 1rem;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.611);
    padding: 0.5rem 1rem;
}

.concentrationRow {
    display: grid;
    grid-template-columns: max-content auto max-content max-content;
    column-gap: 0.5rem;
    align-items: center;
}

