.monster_select {
    /* display: flex;
    flex-direction: column; */
    width: 100%;
}

.title {
    background-color: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 5px grey;
    padding: 0.38ch 1ch;
    display: flex;
    justify-content: space-between;
    gap: 1ch;
}

.title__info {
    width: 100%;
}

.title__info span {
    display: inline-block;
}

#tabs {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    /* gap: 1ch; */
    min-height: 2ch;
}

.tab {
    width: 100%;
    padding: 1ch;
    border-radius: 1px;
    box-shadow: var(--box-shadow);
    cursor: pointer;
}

.link {
    cursor: pointer;
    text-decoration: underline;
}

.spellslots {
    display: flex;
    text-align: center;
}

.vulnerabilites {
    padding: 1ch
}

.spell_line {
    display: flex;
    justify-content: space-between; 
    gap: 1ch;
    padding: 0.5ch;
    align-items: center;
}

.spell_line:hover {
    background-color: rgb(202, 206, 214);
}

.spell_title {
}

.spell_cast_buttons {
    display: flex;
    gap: 1ch;
}

.spell_cast_button {
    background-color: var(--green);
    color: var(--paper);
}