.column_title {
  padding-left: 1ch;
  color: ghostwhite;
  text-shadow: 1px 1px 5px black;
}
.columns {
  display: flex;
  flex-direction: column;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: ghostwhite;
  padding: 1ch;
}

.button_blue {
  border: none;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  padding: 1ch;
  cursor: pointer;
  background-color: var(--blue);
  color: var(--paper);
}

.button_green {
  border: none;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  padding: 1ch;
  cursor: pointer;
  background-color: var(--green);
  color: var(--paper);
}

.button_red {
  border: none;
  border-radius: 1px;
  box-shadow: var(--box-shadow);
  padding: 1ch;
  cursor: pointer;
  background-color: var(--red);
  color: var(--paper);
}
