.section {
    background-color: rgba(62, 57, 78, 0.373);
    margin: 1ch 0;
    padding: 2ch 1ch;
}

.align_row {
    display: flex;
    gap: 1ch;
    /* justify-content: space-around; */
    align-items: baseline;
}

.subtract_button {
    background-color: rgba(0, 255, 187, 0.823);
}

.add_button {
    background-color: rgba(251, 53, 53, 0.823);
}

.label {
    /* color: ghostwhite; */
    min-width: 10ch;
}